/*----------------------------------------------------
             Minerva - No Script CSS File
------------------------------------------------------*/


/* SLIDESHOW
------------------------------------------------------*/
ul #slideshow {
	display:none;
}
#slideshow-holder{
	width:960px;
	height:381px;
	margin:0px auto 0px auto;
	background-image:url(../images/noscript-slide.png);
	background-repeat:no-repeat;
	background-position:top center;
}
.maincontent-front{
	margin-top:59px;
	padding:0px 0px 40px 0px;
	float:left;
}

